@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// *******

$blanco: #ffffff;
$rojo: #ff0000;
$negro: #000000;

.marcador {
  color: $rojo;
  font-size: medium;
}

// tooltips

.map-marker {
  border-radius: 50%;
  cursor: pointer;
}

.map-nav {
  bottom: 32px;
  position: absolute;
  right: 8px;
}

.map-tooltip {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  .container-box{
    display: inline-block;
    height: 88vh;
    width: 90%;
    overflow: scroll;
  }
}

.map-tooltip-field {
  display: flex;
  border: 1px dashed gray;
  padding: 3px;
  margin: 3px;
}
.map-tooltip-img img{
  width: 30%;
  height: auto;
}

.map-tooltip-flag {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  margin-right: 8px;
  min-width: 28px;
}

.map-tooltip-header {
  color: $negro;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 600;
}

.map-tooltip-label {
  color: $negro;
  margin-right: 8px;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  min-width: 120px;
}
.mapboxgl-popup {
  display: contents !important;
  img {
    float: left;
    margin: 3px;
  }
}
.mapboxgl-popup-content {
  background-color: rgba($blanco, 0.9);
  @include breakpoint(lg) {
    width: 50%;
    height: 50%;
    left: 25vw;
    top: 20vh;
  }

  border-radius: 5px !important;
}

.mapboxgl-popup-close-button {
  color: $negro;
  background: yellow;
  font-size: x-large;
  border-radius: 0 5px 0 0;
}

.map-tooltip-value {
  color: $negro;
  font-size: small;
}

.margin {
  display: flex;
  margin: 4px;
}

#menu {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: yellow;
  z-index: 2;
  .react-dropdown-select {
    font-size: small;
    background-color: $blanco;
    width: 300px;
    margin: 0 auto;
  }
}
