body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// *******

$blanco: #ffffff;
$rojo: #ff0000;
$negro: #000000;

h1{
  margin: 0;
}

.marcador{
  color: $rojo;
  font-size: medium;
}

.listado{
  position: absolute;
  background-color: rgba($blanco, 0.8);
  width: 100vw;
  height: 25vh;
  z-index: 1;
  margin: 0;
  bottom: 0;
  display: inline-block;
  .texto{
    margin-top: 20px;;
    color: $negro;
    font-size: small;
  }
}